.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
  color: var(--text);
}

.header {
  background-color: var(--accent);
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--text);
  padding: 10px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.link {
  color: #b318f0;
}
